table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: #ddd;
}

td,
th {
    border: 2px solid #333;
    text-align: left;
    padding: 8px;
}

.bold {
    font-weight: bold;
}

td:nth-child(1) {
    text-align: center;
    width: 3em;
    /* max-width: 5%; */
}

td:nth-child(2) {
    font-weight: bold;
    width: 7.5em;
    /* max-width: 5%; */
}

td:nth-child(3) {
    font-weight: bold;
    width: 7.5em;
    max-width: 5%;
}

td:nth-child(4) {
    width: 20em;
    max-width: 5%;
    text-wrap: wrap;
}

td:nth-child(5) {
    width: 16em;
    min-width: 30%;
    /* text-wrap: wrap; */
}

tr:hover {
    background-color: #3D3D3D;
}

tr td {
    padding-top: 0em;
}

rt {
    color: #ddd;
    font-size: 0.6em;
}

table.no-spacing {
    border-spacing: 0;
    border-collapse: collapse;
}

body {
    margin: 0;
    background-color: #252525;
    /* background-image: url('noise.png'); */
}

p {
    margin: auto;
    color: #ddd;
}

.furigana {
    display: none;
}
.vocab-cell:active .furigana {
    display: inline;
}

nav {
    position: sticky;
    margin:auto;
    margin-top: 5px;
    margin-bottom: 20px;
    display: inline-block;
    border: 2px solid #EBECF1;
    border-radius: 5px;
    animation: slide-in 1s ease-out;
}

ul {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    margin: 0;
    padding: 0 30px;
    list-style-type: none;

    li:not(:last-child) {
        margin-right: 15px;
    }

    li {
        border: 2px solid transparent;
        border-radius: 5px;
        padding: 10px;
        transition: background 0.2s;

        a {
            color: #2375D8;
            text-decoration: none;
            text-transform: uppercase;
            transition: color 0.2s;
        }

        ul {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            display: block;
            margin: 12px -12px;
            padding: 0;
            background: #0373fc;
            border: 2px solid #0d327a;
            border-radius: 5px;
            transition: opacity 0.2s, visibility 0.2s;

            li {
                margin: -2px 0 0 -2px;
                width: calc(100% - 20px);
                line-height: 1.7;
                color: #FFFFFF;

                a {
                    color: #2375D8;
                }
            }
        }

        &:hover {
            background: #0d327a;
            border: 2px solid #FFFFFF;

            a {
                color: #F9F8FD;
            }

            ul {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}
