table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: #ddd;
}

.context-menu {
    position: absolute;
    background: #222;
    border: 1px solid #555;
    color: white;
    display: none;
    z-index: 1000;
    border-radius: 6px;
    font-size: 14px;
}

.context-menu.visible {
    display: block;
}

.context-menu .menu-item {
    padding: 6px 12px;
    cursor: pointer;
}

.row-teal {
    box-shadow: inset 5px 0px 0px rgba(0,255,255,0.3);
    background-color: rgba(0,255,255,0.11);
}

.row-blue {
    box-shadow: inset 5px 0px 0px rgba(0,70,255,0.8);
    background-color: rgba(0,70,255,0.3);
}

.row-purple {
    box-shadow: inset 5px 0px 0px rgba(130,70,255,0.6);
    background-color: rgba(70,20,200,0.8);
}

.row-teal:hover {
    background-color: rgba(0,255,255,0.16);
}

.row-blue:hover {
    background-color: rgba(0,70,255,0.45);
}

.row-purple:hover {
    background-color: rgba(70,20,200,0.95);
}

td,
th {
    border: 2px solid #333;
    text-align: left;
    padding: 8px;
}

.bold {
    font-weight: bold;
}

.hiddenrow {
    cursor: pointer;
    border: none;
    height: 0px;
    /* background-color: #222; */
}

.hiddenbar {
    display: none;
    width: 30%;
    margin: auto;
    margin-top: 1px;
    color: #444;
    /* box-shadow: 1px 1px 3px #333; */
}

.btn {
    background-color: #252525;
    border: 2px solid #454545;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight: 400;
    outline: none;
    text-align: center;
    color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
    position: relative;
    margin: 0;
    height: 25px;
    width: 25px;
    right: 4%;
}

.btn:hover {
    /* transform: translateY(-2px); */
    /* background-color: #444;*/
    border: 2px solid #666;
}

.btn2 {
    position: relative;
    display: inline-block;
    background-color: #252525;
    border: 2px solid #454545;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    height: 35px;
    right: 2%;
}

.btn2:hover {
    background-color: #252525;
    border: 2px solid #666;
}

.btn3 {
    position: relative;
    display: inline-block;
    right: 3%;
}

.updbutton {
    position: relative;
    display: inline-block;
    height: 35px;
    background-color: #252525;
    color: white;
    border: none;
    border: 2px solid #454545;
    border-radius: 4px;
    right: 0%;
}

.updbutton:hover {
    background-color: #252525;
    border: 2px solid #666;
}

.backlogoptions {
    position: absolute;
    background-color: #252525;
    top: 100%;
    left: 0;
    background: white;
    border: 2px solid #666;
    border-radius: 4px;
    z-index: 10;
}

.backlogbutton {
    background-color: #252525;
    color: white;
    border: 2px solid #252525;
    width: 100%;
    text-align: left;
}

.backlogbutton:hover {
    border: 2px solid #666;
}

td:nth-child(1) {
    text-align: center;
    /* width: 3em; */
    /* max-width: 5%; */
}

td:nth-child(2) {
    /* font-weight: bold; */
    min-width: 6em;
    width: 6em;
}

td:nth-child(3) {
    /* font-weight: bold; */
    min-width: 5.5em;
    max-width: 6em;
    text-wrap: wrap;
}

td:nth-child(4) {
    min-width: 10em;
    max-width: 19em;
    text-wrap: wrap;
}

td:nth-child(5) {
    /* width: 16em; */
    min-width: 26em;
    max-width: 40ch;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

td:nth-child(6) {
    min-width: 16em;
    text-wrap: wrap;
}

tr:hover {
    background-color: #303030;
}

tr td {
    padding-top: 0em;
}

rt {
    color: #ddd;
    font-size: 0.6em;
}

table.no-spacing {
    border-spacing: 0;
    border-collapse: collapse;
}

body {
    margin: 0;
    background-color: #252525;
    padding-top: 70px;
    /* background-color: rgba(37, 37, 37, 0.80);
    background-image: url('noise.png');
    background-blend-mode:overlay; */
}

p {
    margin: auto;
    color: #ddd;
}

.furigana {
    display: none;
}

.show-furigana .furigana {
    display: inline;
}

.vocab-cell:active .furigana {
    display: inline;
}

.navdiv {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 850px;
    height: 70px;
    margin: auto;
    transform: translateY(-100%);
    transition: transform 0.2s ease;
    z-index: 1000;
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upscroll {
    border-left: 2px solid #454545;
    border-right: 2px solid #454545;
    border-bottom: 2px solid #454545;
    border-radius: 3px;
}

nav {
    margin-top: 18px;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #EBECF1;
    border-radius: 3px;
    animation: slide-in 1s ease-out;
}

ul {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    margin: 0;
    padding: 0 30px;
    list-style-type: none;

    li:not(:last-child) {
        margin-right: 15px;
    }

    li {
        /* border: 2px solid transparent; */
        border: 2px solid transparent;
        border-radius: 5px;
        padding: 10px;
        transition: background 0.2s;

        a {
            /* color: red;
            text-decoration: none; */
            cursor: pointer;
            position: relative;
            transition: color 0.2s;
            width: 100%;
        }

        ul {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            display: block;
            margin: 12px -12px;
            padding: 0;
            background: #0373fc;
            border: 2px solid transparent;
            border-radius: 5px;
            transition: opacity 0.2s, visibility 0.2s;

            li {
                /* border: 2px solid #00A; */
                margin: -2px 0 0 -2px;
                width: calc(100% - 20px);
                line-height: 1.7;
                color: white;

                /* a {
                    color: #2375D8;
                } */
            }
        }

        &:hover {
            background: #0d327a;
            border: 2px solid #FFFFFF;

            ul {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

#particle-area {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column-reverse;
}

.particle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    color: lightseagreen;
    animation: particle-animation 1.2s ease-out forwards;
}

@keyframes particle-animation {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -65%) scale(1);
        opacity: 0;
    }
}

input.switch_1 {
    appearance: none;
    width: 2.8em;
    height: 1.2em;
    background: #888;
    border-radius: 2.5em;
    position: relative;
    top: 0px;
    left: 1%;
    cursor: pointer;
    outline: none;
    transition: all .1s ease-in-out;
}

input.switch_1:checked {
    background: #456ffa;
}

input.switch_1:after {
    content: "";
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
    transform: scale(.7);
    left: 0;
    transition: all .15s ease-in-out;
}

input.switch_1:checked:after {
    left: calc(100% - 1.2em);
}